/* 
    Plugin Styles
*/


.wsv_post {
    float: left;
    width: 100%;
    padding: 8px 0px 20px 0;
}

.vote {
    /* To be added later */
}

.voted {
    opacity: 0.7;
    cursor: default;
}

.selectit.wsv {
    padding-left: 10px;
}

.voting-select-meta {
    padding: 10px 0;
}

.wsv_vote_disabled {
    float: right;
    background: #FAD2D2;
    border-radius: 3px;
    color: #FF0000 !important;
    font-weight: bold;
    text-align: center;
    margin-right: 10px !important;
    padding: 6px 12px;
    /*width: 320px;*/
}

